<div class="col-md-4">
    <h3>Not Devoured</h3>

    <ul id="burger-field1">
        {{#each burger}}
            {{#unless devoured}}
                <p> {{ id }} {{ burger }} </p>
                <button class="devour" id="devour-btn" data-id="{{id}}">Devour!</button>
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="col-md-4">
    <h3>Main Div</h3>
    <div class="row">
        <texarea>
            <input id="input-field"></input>
            <button id="submit-btn">Submit</button>
        </texarea>
        
    </div>
    
</div>

<div class="col-md-4">
    <h3>Devoured</h3>

    <ul>
        {{#each burger}}
            {{#if devoured}}
                <p> {{ id }} {{ burger }} </p>
                <button class="delete" id="delete-btn" data-id="{{id}}">Delete!</button>
            {{/if}}
        {{/each}}
    </ul>
</div>